<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Javier Quinteros",
    "image": "{{ site.baseurl }}/img/javier-2020.jpeg",
    "givenName": "Javier",
    "familyName": "Quinteros",
    "affiliation": "Deutsches GFZ Potsdam",
    "jobTitle": "GEOFON Data Centre Manager",
    "identifier": {
        "@type": "PropertyValue",
        "propertyID": "ORCID",
        "value": "0000-0001-9993-4003"
    },
    "birthDate": "17-05-1973",
    "birthPlace": "San Martín, Buenos Aires, Argentina",
    "nationality:": ["Argentina", "Germany"],
    "workLocation": {
        "@type": "Place",
        "address":
        {
            "@type": "PostalAddress",
            "addressCountry" :"Germany",
            "addressLocality": "Potsdam",
            "postalCode": "14473",
            "streetAddress": "Albert-Einstein-Str. 42-46"
        }
    },
    "email": ["javier (at) quinteros.eu", "javier (at) gfz-potsdam.de"]
}
</script>
